<h1></h1>
<h2>
    <center>Libreta Sanitaria</center>
</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">DNI</th>
        </tr>
    </thead>
    <tbody>
        {{#each usuario}}
        <tr>
            <th>{{name}}</th>
            <th>{{surname}}</th>
            <th>{{dni}}</th>
        </tr>
        {{/each}}
    </tbody>
    </table>
    <h3> </h3>
    {{#if vacunas}}
    <table class="table table-light">
    <thead>
        <tr>
            <th scope="col">Vacuna</th>
            <th scope="col">Laboratorio</th>
            <th scope="col">Lote</th>
            <th scope="col">Fecha de colocación</th>
            <th scope="col">Sede</th>
        </tr>
    </thead>
    <tbody>
        
        {{#each vacunas }}
        <tr>
            <th> {{name}}</th>
            <th> {{labName}}</th>
            <th> {{lot}}</th>
            <th> {{date}}</th>
            <th> {{place}}</th>
        </tr>
        {{/each}}
    {{else}}
        <center><h1>No hay vacunas para mostrar</h1></center>
    {{/if}} 
    </tbody>
    

</table>