<div>
  <h1></h1>
  <h1></h1>
</div>
<h2>
  <center>Mis vacunas</center>
</h2>
{{#if vaccines}}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha de aplicación</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>

    {{#each vaccines}}
    <tr>
      <th>{{name}}</th>
      <th>{{date}}</th>
      <th>
        <a href="/vaccines/edit/{{_id}}">
          <input type="button" value="Modificar fecha ">
        </a>
        <h3> </h3>
        <form action="/vaccines/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
            Eliminar Vacuna
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" style="color:black" id="exampleModalLabel">Está seguro de que desea eliminar la vacuna?</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-danger">Eliminar vacuna</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </th>
    </tr>
    {{/each}}
    {{else}}
    <center>
      <h1>No hay vacunas para mostrar</h1>
    </center>
    {{/if}}
  </tbody>
</table>