<h2>
  <center>Solicitudes de turnos</center>

</h2>
{{#if turnos}}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Paciente</th>
      <th scope="col">DNI</th>
      <th scope="col">Vacuna</th>
      <th scope="col">Fecha Asignada</th>
      <th scope="col">Asignar turno</th>
      <th scope="col">Obtener turno</th>
      <th scope="col">Notificar turno</th>
    </tr>
  </thead>
  <tbody>
    {{#each turnos}}
    <tr>
      <th>{{usuario.name}}, {{usuario.surname}}</th>
      <th>{{usuario.dni}}</th>
      <th>{{vaccineName}}</th>
      {{#if orderDate}}
      <th>{{orderDate}}</th>
      {{else}}
      <th>
        <form action="/turns/solicitudes-turnos/sugerir/{{_id}}" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <button class="btn btn-danger btn-block btn-sm" type="submit">
            obetener sugerencia
          </button>
        </form>
      </th>
      {{/if}}
      {{#if appointed}}
      <th>Turno Asignado</th>
      {{else}}
      <th>
        <form action="/turns/solicitudes-turnos/sugerir/{{_id}}" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <button class="btn btn-danger btn-block btn-sm" type="submit">
            asignar turno
          </button>
        </form>
      </th>
      {{/if}}
      <th>
        <form action="/turns/solicitudes-turnos/sugerir/{{_id}}" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <button class="btn btn-danger btn-block btn-sm" type="submit">
            Obtener turno
          </button>
        </form>
      </th>
      {{#if appointed}}
      <th>Turno notificado?</th>
      {{else}}
      <th>
        <form action="/turns/solicitudes-turnos/sugerir/{{_id}}" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <button class="btn btn-danger btn-block btn-sm" type="submit">
            notificar turno
          </button>
        </form>
      </th>
      {{/if}}
    </tr>
    {{/each}}
    {{else}}
    <center>
      <h1>No hay turnos para mostrar</h1>
    </center>
    {{/if}}
    </tr>


  </tbody>
</table>