<h2>
  <center>Solicitudes de turnos</center>

</h2>
{{#if turnos}}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Paciente</th>
      <th scope="col">DNI</th>
      <th scope="col">¿Es grupo de riesgo?</th>      
      <th scope="col">Vacuna</th>
      <th scope="col">Fecha Asignada</th>
      {{!-- <th scope="col">Asignar turno</th>
      <th scope="col">Obtener turno</th> --}}
      <th scope="col">Notificar turno</th>
    </tr>
  </thead>
  <tbody>
    {{#each turnos}}
    <tr>
      <th>{{usuario.surname}}, {{usuario.name}}</th>
      <th>{{usuario.dni}}</th>
      <th>{{usuario.riesgo}}</th> 
      <th>{{vaccineName}}</th>
      {{#if orderDate}}
      <th>{{orderDate}}</th>
      {{else}}

      {{#if usuario.riesgo }}
      <th>
        <form action="/turns/solicitudes-turnos/asignar/{{_id}}" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <button type="submit">
            asignar Turno
          </button>
        </form>
      </th>
      {{else}}
      <th>
        <form action="/turns/solicitudes-turnos/sugerir/{{_id}}" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <button type="submit">
            asignar Turno
          </button>
        </form>
      </th>
      {{/if}}
      {{/if}}

      {{#if orderDate}}
      {{#if notified}}
      <th>
        Turno notificado
        </button>
        </form>
      </th>
      {{else}}
      <th>
        <form action="/turns/send-email/{{_id}}" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <button name="boton" value="notificar" type="submit">
            notificar turno
          </button>
        </form>
      </th>
      {{/if}}
      {{/if}}
      <th>

          </div>
        </div>
      </th>
    </tr>
    {{/each}}
    {{else}}
    <center>
      <h1>No hay turnos para mostrar</h1>
    </center>
    {{/if}}

    </tr>
  </tbody>
</table>