<h2>
  <center>Turnos de hoy</center>

</h2>
{{#if resultado}}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Paciente</th>
      <th scope="col">DNI</th>
      <th scope="col">Vacuna</th>
      <th scope="col">Fecha Asignada</th>
      <th scope="col">Atendido</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each resultado}}
    <tr>
      <th>{{turnoUsuario.name}}</th>
      <th>{{turnoUsuario.dni}}</th>
      <th>{{vaccineName}}</th>
      <th>{{orderDate}}</th>
      <th>{{attended}}</th>
      <th>
        <a href="/turns/turnos-hoy">
          <input type="button" value="Marcar turno atendido">
        </a>
      </th>
    </tr>
    {{/each}}
    {{else}}
    <center>
      <h1>No hay turnos para mostrar</h1>
    </center>
    {{/if}}
  </tbody>
</table>