<h2>
  <center>Turnos de hoy</center>

</h2>
{{#if resultado}}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Paciente</th>
      <th scope="col">DNI</th>
      <th scope="col">Vacuna</th>
      <th scope="col">Fecha Asignada</th>
      <th scope="col">Estado</th>
      <th scope="col">Aplicar vacuna</th>
    </tr>
  </thead>
  <tbody>
    {{#each resultado}}
    <tr>
      <th>{{turnoUsuario.name}}, {{turnoUsuario.surname}}</th>
      <th>{{turnoUsuario.dni}}</th>
      <th>{{vaccineName}}</th>
      <th>{{orderDate}}</th>
 
      <th>
        {{#unless attended}}
        <form action="/turns/marcarturno/{{_id}}" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <button class="btn btn-danger btn-block btn-sm" type="submit">
            Marcar turno atendido
          </button>
        </form>
        {{else}}
        <a>Atendido</a>
        {{/unless}}
      </th>
      <th>
        {{#unless applied}}
        <form action="/vaccines/aplicarvacuna/{{turnoUsuario._id}}" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="vacName" value="{{vaccineName}}">
          <input type="hidden" name="sede" value="{{sede}}">
          <input type="hidden" name="turnoID" value="{{_id}}">
          <button class="btn btn-danger btn-block btn-sm" type="submit">
            Marcar vacuna aplicada
          </button>
        </form>
        {{else}}
        <a>Vacuna aplicada</a>
        {{/unless}}
      </th>
    </tr>
    {{/each}}
    {{else}}
    <center>
      <h1>No hay turnos para mostrar</h1>
    </center>
    {{/if}}
  </tbody>
</table>