<h2>
  <center>Turnos de hoy</center>

</h2>
{{#if resultado}}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Paciente</th>
      <th scope="col">DNI</th>
      <th scope="col">Vacuna</th>
      <th scope="col">Fecha Asignada</th>
      <th scope="col">Atendido</th>
      <th scope="col">Atender</th>
      <th scope="col">Aplicar vacuna</th>
    </tr>
  </thead>
  <tbody>
    {{#each resultado}}
    <tr>
      <th>{{turnoUsuario.name}}</th>
      <th>{{turnoUsuario.dni}}</th>
      <th>{{vaccineName}}</th>
      <th>{{orderDate}}</th>
      <th>{{attended}}</th>
      <th>
      {{#unless resultado.attended}}
          <form action="/turns/marcarturno/{{_id}}" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <button class="btn btn-danger btn-block btn-sm" type="submit">
              Marcar turno atendido
            </button>
          </form>
      {{/unless}}
      </th>
      <th>
         <form action="/vaccines/aplicarvacuna/{{turnoUsuario._id}}" method="POST"> 
            <input type="hidden" name="_method" value="PUT">
            <button class="btn btn-danger btn-block btn-sm" type="submit">
              Marcar vacuna aplicada
            </button>
          </form>
      </th>
    </tr>
    {{/each}}
    {{else}}
    <center>
      <h1>No hay turnos para mostrar</h1>
    </center>
    {{/if}}
  </tbody>
</table>